*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
}

main {
    width: 100%;
    padding: 20px;

}

.sidebar {
    height: 100vh;
    width: 250px;
    background-color: #f8f8fa;
    overflow: hidden;
    transition: all 0.4s;
}

.top_section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
    cursor: pointer;
    justify-content: space-between;
}

.logo {
    font-size: 16px;
    font-weight: 700;
}

.bars {
    display: flex;
    font-size: 20px;
    margin-left: 50px;
}

.link {
    display: flex;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.4s;

}

.link:hover {
    background: #eeeeee;
    transition: all 0.4s;

}

.active {
    background: #eeeeee;
}

.icon {
    padding-top: 3px;
}

.icon, .link_name {
    font-size: 20px;
    color: black;
}

